.error{
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    /* background-color: white; */
    background: #3d5afe;
    border-radius: 10px;
}
main{
    padding-top:150px;
}