<main>
    <div *ngIf="auth">
        <div >
            You are logged
        </div>
    </div>
   
    <form *ngIf="!auth" [formGroup]="myform" novalidate (ngSubmit)="submit()">
        <div class="login-div">
            <div class="logo"></div>
            <div class="title">Angular</div>
            <div class="sub-title">BETA</div>
            <div class="fields">
              <div class="username"><input type="username" class="user-input" placeholder="username"  formControlName="name"/></div>
              <div class="username" ><input type="email" class="user-input"formControlName="email" placeholder="email" /></div>
              <div class="password"><input type="text" class="pass-input" formControlName="password"placeholder="password" /></div>
            </div>
            <div class="error"*ngIf="myform.controls['email'].invalid && myform.controls['email'].touched">
                Invalid email 
            </div>
            <div   class="error"*ngIf="myform.controls['name'].invalid && myform.controls['name'].touched">
                 Invalid name
            </div>
            <div  class="error "*ngIf="myform.controls['password'].invalid && myform.controls['password'].touched">
                 Invalid password
            </div>
            <ng-container *ngIf="errors">
                <ul *ngFor="let error of errors" >
                   <li class="error">{{error}}</li>
                </ul>
            </ng-container>

            <button class="signin-button"  type="submit" [disabled]="myform.invalid">Sign Up</button>
        
        </div>

    </form>
   
</main>