/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
  box-sizing: border-box !important;
  margin:0;
  padding:0;
}

.active {
  padding: 5px 55px;
  color:#313d4c !important;
  
}
 
body:first-child{
  padding-top:150px ;
}
.after_sec{
  background-image: url(https://d1o6pphsuqk08k.cloudfront.net/assets/img/svg/landing/orange-cloud.svg);
  content:"";
  display:block;
  position:absolute;
  width:130%;
  height:100%;
  top:96px;
  left:0;
  max-height:87%;
  background-size:300px;
}
body{
    min-height:100vh;
    padding-top:0 !important;
  /*  font-family: 'Baloo 2', cursive;
  /*  font-family: 'Open Sans', sans-serif;*/
    overflow-x: hidden;
    padding-bottom:150px;
    height:auto !important;
    position:relative;
    font-family: 'Roboto', sans-serif !important;
}

.errors1{
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  margin: 18px 0;
}
.scale{
    transform: scale(1.02);
}
.flex_col{
  display: flex;
  flex-direction: column;
}
video{
  max-width:500px;
}
a,a:focus{
    text-decoration: none;
    color:initial;
}
.flex{
    display:flex;
    flex-wrap:wrap;
    width:100%;
}
.container--narrow {
  max-width: 920px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  line-height: 1.6;
  position: relative;
  z-index: 4;
}
.hero-content {
  text-align: center;
  color: #fff;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.section-title {
  text-align: center;
  font-size: 34px;
  line-height: 1.6;
  color: #313d4c;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-weight: 300;
  line-height: 1;
  text-align:center;
}
.section-strapline {
  text-align: center;
  font-size: 16px;
  line-height: 1.7;
  color: #778aa0;
  margin: 20px auto 28px;
  max-width: 640px;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
}
.section1{
    margin: 0;
    padding: 60px 0 86px;
    font-size: 16px;
    text-align: center;
    width: 100vw;
    min-height:100vh;
    background-image: linear-gradient(to bottom right,#fd545d 0,#ffb435 100%);
    overflow: hidden;
    position:relative;
    display:flex;
    align-items:center;
    background-size:cover;
    padding-top:200px;
}
/*
box-shadow: 0 20px 32px rgba(0,0,0,.2);
*/
.btn-action {
  background-color: #fff;
  color: #fe4f58;
  font-size: 13px;
  text-transform: uppercase;
  padding: 18px 60px 17px;
  display: inline-block;
  border-radius: 4px;
  line-height: 1;
  font-weight: 500;
  margin-top: 20px;
  box-shadow: 0 5px 26px rgba(0,0,0,.2);
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 20px auto;
  min-width: 400px;
}
.btn-action-orange{
  color: #000000;
    font-size: 21px;
    font-family: 'Roboto',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 700;
    border-width: 0px;
    border-radius: 0px;
    background-color: #ffe100;
    background-position: center center;
}
.hero-title {
  font-size: 56px;
  font-weight: 400;
  position: relative;
  display: inline-block;
}
.hero-lead {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255,255,255,.3);
  max-width: 412px;
  margin: 10px auto;
}
.hero .hero-lead {
  padding-top: 20px;
  color: #fef0ee;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255,255,255,.3);
  max-width: 412px;
}
.channels{
 
  text-align:center;
  font-size:3rem;
  color: #313d4c;
}
.flex>div{
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   width:100%;
}
.login-div {
    max-width:500px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
    margin:10px auto;
    margin-bottom:50px;
  }
  .title {
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    letter-spacing: 0.5px;
  }
  .sub-title {
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
  }
  .fields {
    width: 100%;
    padding: 25px 5px 5px 5px;
    font-family: 'Open Sans', sans-serif !important
  }
  
  .fields input,.fields textarea {
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color: #555;
    padding:20px 10px 20px 5px;
    font-family: 'Open Sans', sans-serif !important;
    width:100%;

  }
  
  .fields textarea{
    max-width:100% !important;
    max-height:400px !important;
    min-height:100px !important;
    width:100% !important;
  }
  .username, .password {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
    padding-left:20px;
    color: #444;
  }
  .but{
    background: rgba(25,118,210,.05);
    margin:10px;
    border:none;
    padding:5px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top:0;
    right:10px;
    width:60px;
  }
  video{
  margin: 10px 0;
  }
  .tw{
    top:45px;
  }
  .somsa{
    position: relative;
    height:200px;
    padding-right:80px  !important;
  }
  .fields svg {
    height: 22px;
    margin:0 10px -3px 25px;
  }
  .signin-button {
    outline: none;
    border:none;
    cursor: pointer;
    width:100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

    color:#fff;
    text-align: center;
    background: #e74c3c;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
  }
  .signin-button:hover {
    background:#e74c3c;
  }
  .signin-button:active {
    background:#e74c3c;
  }
  .link {
    padding-top: 20px;
    text-align: center;
  }
  .link a {
    text-decoration: none;
    color:#aaa;
    font-size: 15px;
  }
  
  .logo {
    background:url("https://angular.io/generated/images/marketing/home/code-icon.svg");
    width:100px;
    height: 100px;
    border-radius: 50%;
    margin:0 auto;
    box-shadow: 
    /* logo shadow */
    0px 0px 2px #5f5f5f,
    /* offset */
    0px 0px 0px 5px #ecf0f3,
    /*bottom right */
    8px 8px 15px #a7aaaf,
    /* top left */
    -8px -8px 15px #ffffff
    ;
  }
  .upload{
    background-color: transparent !important;
    border: 1px solid #e74c3c !important;
    margin-bottom: 20px;
    color: #e74c3c !important;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
  }
  .upload :hover{
    color: white;
    background:#e74c3c
  }
  .somsa{
    padding: 20px;
  }
@media(min-width:900px) {
  .container--narrow{
    display: flex;
    margin: 0 auto;
    max-width:1020px;
  }
  .hero-content {
    width:100%;
  }
}
@media(max-width:900px){
    .flex{
        flex-direction: column;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
