@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300&display=swap');

main{
    font-family: 'Jost', sans-serif;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.column{
    flex-direction:column !important;
}
.pad40{
    padding-top:40px;
}
@media(max-width:900px){
    .section1{
        padding-bottom:10px;
    }
}