<div  >
    <section class="section1 sec" >
        <div class="container--narrow" >
            <div class="hero-content"id='banner_animation_text'>
              <h1 class="hero-title">Programming Tutorial</h1>
              <p class="hero-lead">The in-depth, complete, and up-to-date tutorials on Java, Angular 9, etc.&nbsp; Become an &nbsp; expert today.</p>
              <a href="https://www.ng-book.com/downloads/ng-book/" target="_blank" class="hero-cta btn-action  manual-optin-trigger" data-optin-slug="lwlw78pgsokwhn0h9alg">Make your own post</a>
            </div>
        </div>
        <banner-animation></banner-animation>
    </section>
   
    <main>
        <div class="container--narrow column pad40">
            <h2 class="section-title">Our video</h2>
            <p class="section-strapline">There are a lot of new videos related to programming</p>
        </div>
        <div class="flex">
            
            <div *ngIf="loading">
                <div [class]="class">
                    Loading .....
                </div>
            </div>
            
            <div *ngIf="!loading ">
                <div *ngFor="let page of pages;let i=index" >
                    <card [title]="page.title" [content]="page.p1" [id]="page.id"></card>
                </div>
                <div *ngIf="pages.length==0">
                    <div>
                        <h1>Здесь будут ваши посты</h1>
                        
                    </div>
                </div>
            </div>
        </div>
       </main> 
</div>