<header #header   [class]="classes">
    <div class="header__wrap">
         <div class="header__container">
              <div class="header__logo">
                   <h5 class="header__logo__item">
                        Baidi
                   </h5>
              </div>
              <div class="header__routes  ">
                   <ng-template [ngIf]="!isMain">
                      <ul class="header__routes__container flex">
                         <li class="header__routes__items"><a routerLink="/" [routerLinkActive]="class_active" [routerLinkActiveOptions]="{exact: true}">Main</a></li>
                         <li class="header__routes__items"><a routerLink="/profile" [routerLinkActive]="class_active">Profile</a></li>
                         <li class="header__routes__items"><a routerLink="/posts" [routerLinkActive]="class_active">Posts</a></li>

                       </ul>
                   </ng-template>
              </div>
         </div>
    </div>
</header>