<div id="main_block" >

<!--<loading [openClose]="!isdone" ></loading>-->

<main-header ></main-header>
<router-outlet></router-outlet>

<div id="footer-container" >
    <div class="container">
      <footer>
        <div class="row">
            <img src="https://www.ng-book.com/images/logo/fullstack-mono-logo-gray.svg" width="269" height="56" alt="Fullstack.io">
          <div class="col-md-3">
            <ul class="link-list">
              <li class="heading">Resources <span class="icon ion-arrow-right-c"></span></li>
              <li><a href="https://www.ng-book.com/2/p/Changelog/">TypeScript</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul class="link-list">
            <li class="heading">Get in touch <span class="icon ion-arrow-right-c"></span></li>
            <li>Questions?</li>
            <li><a href="mailto://valeria18ua@ukr.net">valeria18ua@ukr.net</a></li>
            </ul>
          </div>

          </div> <!-- end "col-md-1"-->
        </footer>
    </div><!-- .row -->      
</div>
</div>