<div class="fl">
          <div class="flex_col fl" > 
                        <h1 class="title-h1">{{post?.name}}</h1>
                        <video [ngStyle]="{display:videoLoaded ? 'block':'none'}" id="source" >
                            <source   />
                        </video>
                        <p [style]="'text-align:center; font-size: 20px;
                        margin-bottom: 10px;'">{{post?.p1}}</p>
          </div>
          <a  class="code-example" routerLink="/">Back</a>
</div>

