<div  id="chan">
   <div class="channels">
       <div class="channels__area">
           <div class="channels__area__content">
                 <div class="channels__area__content__title">Ups :(</div>
                 <div class ="channels__area__content__desc">The requested was not found on this server. That’s all we know.</div>
                 <div class="channels__area__content__image">
                     <img src="http://www.google.com/images/errors/robot.png"/>
                 </div>
           </div>
       </div>
   </div> 
   
</div>