.posts__area{
    padding-top:60px;
    width:100vw;
    font-family: 'Roboto' !important;
}
.posts__wrap{
    width:90%;
    margin:0 auto;
    max-width:1000px;
    padding-top:26px;
}
.posts__content__headline{
    text-align: center;
    font-size: 34px;
    line-height: 1.6;
    color: #313d4c;
    margin: 0;
    font-weight: 300;
    line-height: 1;
    padding: 16px;
}
.posts__area__image img{
   width:100%;
   object-fit: cover;
}
.posts__content__items{
    min-height:70vh;
}
.none{
    display:none;
}
.loader__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    justify-content: center;
}
.loader__content h5{
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    margin-top: 36px;
    max-width: 600px;
}
.posts__area__image{
    max-height:150px;
    min-height:100px;
    min-width:100vw;
    overflow: hidden;
    position: relative;
}
.after{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
}
.posts__area__title{
    position: absolute;
    top: 70px;
    /* left: 35%; */
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    -webkit-text-stroke-width: thick;
    left: 5%;
    width: 100%;
}
.posts__content__items{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:26px;
}
.posts__content__items__sec{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mat-card{
    margin:16px;
    min-width:300px;
    min-width: 300px;
    max-width: 500px;
}
video{
    max-width:400px;
}
.link{
    margin-left: 10px !important;
    margin-bottom: 10px !important;
}